# Data
data/raw/
data/processed/

# Models
models/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# Jupyter
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
